.pagination-container{
    left: 45%;
    bottom: 40px;
    position: fixed;

    padding: 10px 15px;
    gap: 10px;
    display: flex;
    border-radius: 10px;

    background-color: blueviolet;
}

.pagination-container button{
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
}